:root {
  --color-gray: #767676;
  --color-accent-blue: #0088cc;
  --color-accent-blue-dark: #0074a2;
  --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  --font-monospace: ui-monospace, SFMono-Light, Menlo, Monaco, 'Roboto Mono',
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 18px;
  color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 code,
h2 code,
h3 code {
  font-weight: 300;
}

.dark h1 code,
.dark h2 code,
.dark h3 code,
.dark h4 code,
.dark h5 code,
.dark h6 code {
  color: #fefefe !important;
  background-color: #29333e !important;
}

h1 {
  font-size: 3rem;
  line-height: 128%;
  margin-block-start: 1.2rem;
  margin-block-end: 3.2rem;
}

h2 {
  border: none;
  margin-block-start: 4rem;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
}

h2 code {
  font-size: 1.6rem;
}

h3 {
  margin-block-start: 3.2rem !important;
  font-size: 1.3rem !important;
}

h3 code {
  font-size: 1.2rem;
}

h4 code {
  font-size: 1.15rem;
}

a {
  color: var(--color-accent-blue);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent-blue-dark);
}

* {
  box-sizing: border-box;
}

pre {
  border-radius: 5px !important;
}

pre,
code,
pre code,
.code-snippet--callout-child {
  font-family: var(--font-monospace);
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 36px;
  letter-spacing: -0.4px;
}

aside button {
  font-size: 13px !important;
  text-transform: uppercase;
}

aside a {
  font-size: 16px !important;
}

.nextra-search input {
  font-size: 16px !important;
  font-weight: 300 !important;
}

footer div:first-of-type span,
footer div:first-of-type a {
  font-size: 1.05rem;
  line-height: 1;
}

footer div:first-of-type a {
  text-decoration: none;
}

footer:last-child span,
footer:last-child a {
  font-size: 15px;
}

footer:last-child a {
  text-decoration: underline;
}

nav img {
  width: 16%;
  margin-right: 10px;
}

nav img + span {
  margin-top: 4px;
}

article ul {
  margin-inline-start: 4rem;
}

/* Images */
.image {
  margin: 1rem auto 4rem auto;
}

.logo {
  color: #242424;
}

.dark .logo {
  color: #fefefe;
}

/* TODO: Fix styles switch for dark theme on Callout */

html.dark [class^='Callout__callout'],
html.dark [class^='GrammarBlock_container'] {
  color: #d9d9d9;
  background-color: #242424;
}

.dark p[class^='Callout__callout__title'],
html.dark [class^='GrammarBlock_container'] {
  color: #878b9f;
}

.monospace {
  font-family: var(--font-monospace);
  color: var(--color-gray);
}

.dark [class^='Callout_callout'],
.dark [class^='GrammarBlock_container'] {
  background-color: #181818;
  color: #bebebe;
}

.dark [class^='Callout_callout__title'],
.dark [class^='GrammarBlock_container'] {
  color: #818181;
}

code[data-line-numbers] > .line {
  line-height: 192%;
  font-size: 16px;
}

p > code {
  line-height: 1;
}
