:root {
  --color-accent-blue: #0088cc;
  --color-accent-blue-dark: #0074a2;
}

@font-face {
  font-family: "MD IO";
  src: url("/assets/fonts/MDIO0.4-Regular.woff2") format("woff2"),
    url("/assets/fonts/MDIO0.4-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/assets/fonts/MDIO0.4-Italic.woff2") format("woff2"),
    url("/assets/fonts/MDIO0.4-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MD IO";
  src: url("/assets/fonts/MDIO0.4-Bold.woff2") format("woff2"),
    url("/assets/fonts/MDIO0.4-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  --font-monospace: "MD IO", monospace;
  --color-gray: #767676;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 18px;
  color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 code,
h2 code,
h3 code {
  font-weight: 400;
}

.dark h1 code,
.dark h2 code,
.dark h3 code,
.dark h4 code,
.dark h5 code,
.dark h6 code {
  color: #fefefe !important;
  background-color: #29333e !important;
}

h1 {
  font-size: 3rem;
  line-height: 128%;
  margin-block-start: 1.2rem;
  margin-block-end: 3.2rem;
}

h2 {
  border: none;
  margin-block-start: 4rem;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
}

h2 code {
  font-size: 1.6rem;
}

h3 {
  margin-block-start: 3.2rem !important;
  font-size: 1.3rem !important;
}

h3 code {
  font-size: 1.2rem;
}

h4 code {
  font-size: 1.15rem;
}

a {
  color: var(--color-accent-blue);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent-blue-dark);
}

* {
  box-sizing: border-box;
}

pre,
code,
pre code,
.code-snippet--callout-child {
  font-family: var(--font-monospace);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

aside button {
  font-size: 13px !important;
  text-transform: uppercase;
}

aside a {
  font-size: 16px !important;
}

.nextra-search input {
  font-size: 16px !important;
  font-weight: 300 !important;
}

footer div:first-of-type span,
footer div:first-of-type a {
  font-size: 1.05rem;
  line-height: 1;
}

footer div:first-of-type a {
  text-decoration: none;
}

footer:last-child span,
footer:last-child a {
  font-size: 15px;
}

footer:last-child a {
  text-decoration: underline;
}

nav img {
  width: 16%;
  margin-right: 10px;
}

nav img + span {
  margin-top: 4px;
}

article ul {
  margin-inline-start: 4rem;
}

/* Images */
.figure-small {
  margin: 1rem auto 2rem auto;
}

.figure-remainder-integer {
  width: 337px;
}

/* Code Snippets */
.code-snippet {
  padding: 1rem 1rem 1rem 0 !important;
  margin-inline-start: 0.1rem;
}

@media screen and (min-width: 768px) {
  .code-snippet {
    padding: 0.4rem !important;
    margin-inline-start: 0.8rem;
  }
}

.code-snippet--callout-child {
  font-size: 17px !important;
  line-height: 32px !important;
  margin-top: 1.4rem !important;
  margin-inline-start: 2rem !important;
  background-color: #f5f5f5;
}

.dark .code-snippet {
  background-color: #fefefe !important;
  color: #fafafa !important;
  border-radius: 0;
  padding: 1.6rem 1rem !important;
  border-radius: 2px;
}

.react-syntax-highlighter-line-number {
  border-right: 4px solid #cde9f4;
  padding-right: 10px !important;
  margin-inline-end: 16px !important;
}

.linenumber {
  color: #bebebe;
}

.dark pre {
  background-color: #fff !important;
}

.dark code {
  background-color: #fefefe !important;
  color: #141414 !important;
}

.dark li code,
.dark p code {
  color: #889bb1 !important;
  background-color: #29333e !important;
}

.logo {
  color: #242424;
}

.dark .logo {
  color: #fefefe;
}

/* Code */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 16px;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

/* TODO: Fix styles switch for dark theme on Callout */

html.dark [class^="Callout__callout"] {
  color: #d9d9d9;
  background-color: #242424;
}

.dark p[class^="Callout__callout__title"] {
  color: #878b9f;
}

.pseudocode {
  width: fit-content;
  margin: 2.4rem 0 1.6rem 8%;
  font-family: var(--font-monospace);
}

.pseudocode__highlight {
  padding: 2px 6px;
  background-color: #e9effa;
  border: 1px solid #c4d4f1;
  border-radius: 10px;
  padding: 2px 6px;
  font-style: inherit;
  white-space: nowrap;
}

.dark .pseudocode__highlight {
  background-color: #99a8c5;
  border-color: #dbe3f1;
  color: #313d56;
}

.pseudocode__keyword {
  font-weight: 700;
}

.monospace {
  font-family: var(--font-monospace);
  color: var(--color-gray);
}

/* Grammar Component */
.grammar {
  margin: 2rem 0 2rem 8%;
  padding: 0.4rem 1rem;
  border-left: 5px solid #e9e9e9;
  font-size: 0.8rem;
}

.dark .grammar {
  border-color: #35353c;
}

.grammar__title {
  margin-block-end: 0.4rem;
  color: var(--color-gray);
  font-size: 0.56rem;
  line-height: 144%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.grammar__syntaxDef {
  margin: 0 !important;
}

.grammar__syntaxDef--flex {
  display: flex;
  align-items: center;
}

.grammar__syntaxDef__name {
  font-style: italic;
  color: var(--color-gray);
}

.grammar__syntaxDef__arrow {
  display: inline-block;
  padding: 0 0.6rem 0 0.48rem;
}

.grammar__syntaxDef__punctuation-wrapper,
.grammar__syntaxDef__keyword,
.grammar__syntaxDef__divider,
.grammar__syntaxDef__lcub,
.grammar__syntaxDef__rcub {
  font-family: var(--font-monospace);
  font-weight: 700;
}

.grammar__syntaxDef__punctuation-wrapper--opening,
.grammar__syntaxDef__lcub {
  margin-inline-end: 0.4rem;
}

.grammar__syntaxDef__punctuation-wrapper--closing,
.grammar__syntaxDef__rcub {
  margin-inline-start: 0.4rem;
}

.grammar__syntaxDef__divider {
  margin-inline: 0.32rem;
}

.grammar__syntaxDef__divider--regular {
  font-weight: 400;
  margin-inline: 0.16rem;
}

.grammar__syntaxDef__divider--regular p {
  display: inline-block;
}

.grammar__syntaxDef__link {
  display: inline-block;
  text-decoration: none;
  margin-inline-end: 0.4rem;
}

.grammar__syntaxDef__link--last {
  margin-inline-end: 0;
}

.grammar__syntaxDef__link:hover {
  text-decoration: underline;
}

.grammar__syntaxDef__keyword + .grammar__syntaxDef__link {
  margin-inline-start: 0.4rem;
}

.grammar__syntaxDef__link__sub {
  color: var(--color-gray);
  font-style: italic;
}

.dark [class^="Callout_callout"] {
  background-color: #181818;
  color: #bebebe;
}

.dark [class^="Callout_callout__title"] {
  color: #818181;
}
