@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO0.4-Regular.woff2') format('woff2'),
    url('/assets/fonts/MDIO0.4-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO0.4-Italic.woff2') format('woff2'),
    url('/assets/fonts/MDIO0.4-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO0.4-Bold.woff2') format('woff2'),
    url('/assets/fonts/MDIO0.4-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  --font-monospace: 'MD IO', monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 18px;
  color: #242424;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  line-height: 128%;
  margin-block-start: 1.2rem;
  margin-block-end: 3.2rem;
}

h2 {
  border: none;
  margin-block-start: 4rem;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
}

h2 code {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  margin-block-start: 3.2rem !important;
  font-size: 1.3rem !important;
}

h3 code {
  font-size: 1.2rem;
  font-weight: 700;
}

a {
  color: inherit;
  color: #7766cc;
}

* {
  box-sizing: border-box;
}

pre,
code,
pre code,
.code-snippet--callout-child {
  font-family: var(--font-monospace);
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

aside button {
  font-size: 13px !important;
  text-transform: uppercase;
}

aside a {
  font-size: 16px !important;
}

.nextra-search input {
  font-size: 16px !important;
  font-weight: 300 !important;
}

footer div:first-of-type span,
footer div:first-of-type a {
  font-size: 1.1rem;
}

footer div:first-of-type a {
  text-decoration: none;
}

footer:last-child span,
footer:last-child a {
  font-size: 15px;
}

footer:last-child a {
  text-decoration: underline;
}

nav img {
  width: 16%;
  margin-right: 10px;
}

nav img + span {
  margin-top: 4px;
}

/* Images */
.figure-small {
  margin: 1rem auto 2rem auto;
}

.figure-remainder-integer {
  width: 337px;
}

/* Code Snippets */
.code-snippet {
  margin-inline-start: 2rem;
  padding: 1rem !important;
}

.code-snippet--callout-child {
  font-size: 17px !important;
  line-height: 32px !important;
  margin-top: 1.4rem !important;
  margin-inline-start: 2rem !important;
  background-color: #f5f5f5;
}

.dark .code-snippet {
  background-color: #fefefe !important;
  color: #fafafa !important;
  border-radius: 0;
  padding: 1.6rem 1rem !important;
  border-radius: 2px;
}

.react-syntax-highlighter-line-number {
  border-right: 4px solid #cde9f4;
  padding-right: 10px !important;
  margin-inline-end: 16px !important;
}

.linenumber {
  color: #bebebe;
}

.dark pre {
  background-color: #fff !important;
}

.dark code {
  background-color: #fefefe !important;
  color: #141414 !important;
}

.dark p code {
  color: #889bb1 !important;
  background-color: #29333e !important;
}

.logo {
  color: #242424;
}

.dark .logo {
  color: #fefefe;
}

/* Code */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 16px;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

.shiki-wrapper {
  margin-inline-start: 8%;
}

.shiki {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 1.2rem 1.4rem;
}

.shiki .line::before {
  border-right: 4px solid #cde9f4;
}

/* TODO: Fix styles switch for dark theme on Callout */

html.dark [class^='Callout__callout'] {
  color: #d9d9d9;
  background-color: #242424;
}

.dark p[class^='Callout__callout__title'] {
  color: #878b9f;
}

.pseudocode {
  width: fit-content;
  margin: 2.4rem 0 1.6rem 8%;
  font-family: var(--font-monospace);
}

.pseudocode__highlight {
  padding: 2px 6px;
  background-color: #e9effa;
  border: 1px solid #c4d4f1;
  border-radius: 10px;
  padding: 2px 6px;
  font-style: inherit;
  white-space: nowrap;
}
